<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body style="text-align: center;">
    <div>
        <h1>Menú Principal</h1>
        <ul style="list-style-type: none; padding-left:0%">
            <li><a href="/products">Ver Productos</a></li>
            <li><a href="/listCarts">Ver Carritos</a></li>
            <li><a href="/realtimeproducts">Agregar Productos</a></li>
            <li><a href="/createCart">Agregar Carritos</a></li>
            <li><a href="/deleteCart">Eliminar Carritos</a></li>
            <li><a href="/deleteproducts">Eliminar Productos</a></li>
        </ul>
    </div>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-Mo3oqfz2+xuFJjSAktTSr2/Kidm+goSc0XeZL1ACBm+kz5YPIWgcsQg4M0UyWf2S" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+pxtGn127v+AV9WHl4/nJL2mZ56g7PD7U6P" crossorigin="anonymous"></script>
</body>
</html>
